@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Open Sans", sans-serif;
}
 
/* Background Image Classes */
.main-wrapper{
    min-height: 100vh;
    min-width: 100vw;
    background-image: url('/static/img/astro.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex; 
    justify-content: center;
}

.weather-wrapper{
    min-height: 100vh;
    min-width: 100vw;
    /*background-color: #455a68;*/
    background-image: url('/static/img/a_snowy_mountain_tops.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex; 
    justify-content: center;
}

.not-found-wrapper{
    min-height: 100vh;
    min-width: 100vw;
    background-image: url('/static/img/aurora-1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex; 
    justify-content: center;
}

/* Container class for all information to be displayed */
.container {
	height: 100vh;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    width: 100%;
  }

.title{
    display: inline-block;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.basic-weather{
    width: 50%;
    padding : 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;   
}

.temperature{
    width: 50%;
    margin: 15px;
    display: flex;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
}

.misc-forecast{
    width: 50%;
    margin: 15px;
}

.misc-forecast .box{
    padding: 15px;
}

.misc-forecast .box .fa-solid{
    font-size: 1.2rem;
}

.five-forecast{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.five-forecast .box{
    padding: 10px;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.five-forecast .box .weather-icon .fa-solid{
    font-size: 3rem;
    padding: 10px;
}

.city-search{
    display: inline-block;
}


.home {
    text-decoration: none;
    color: white;
}

.change-button {
    padding: 7px;
    z-index: 2;
	border-radius: 15px;
	position: absolute;
	top: 3%;
	left: 3%;
    background-color: transparent;
}

input, button {
    font-size: 1.2rem;
    padding: 0.6rem;
    border-radius: 7px;
    border: 1px #555;
    font-family: "Noto Sans", sans-serif;
}

/* iPhone */
@media (max-width: 760px){
    .title{
        text-align: center;
    }
    .basic-weather{
        width: 80%;
    }
}
@media (max-width: 450px) {
    html, body {margin: 0; height: 100%; overflow: hidden}

    .title{
        text-align: center;
    }

    .title h1{
        font-size: 2rem;
    }
    .title h2{
        font-size: 1.2rem;
    }	
    
    input, button {
        font-size: 1rem;
        padding: 0.4rem;
        border-radius: 7px;
        border: 1px #555;
        font-family: "Noto Sans", sans-serif;
    }

    .temperature {
        font-size: 2rem;
    }
    .basic-weather{
        width: 100%;
    }
}
