<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} Weather</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/17a0bb4a8f.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="weather-wrapper">
        <div class="container">

            <a class="home" href="{{ url_for('index')}}">
                <div class="change-button">
                    <i class="fa-solid fa-chevron-left"></i>
                    Change City
                </div>
            </a>

            <div class='title'>
                <h1>{{ city }}</h1>
                <h2>{{ current_date }}</h2>
            </div>
            
            <div class="basic-weather">
                <div class="temperature">{{ temp }} &deg; C</div>
                <div class="misc-forecast">
                    <div class="box"><i class="fa-solid {{ weather_icon }}"></i> &ensp;{{ status }}</div>
                    <div class="box"><i class="fa-solid fa-temperature-three-quarters"></i> &ensp;{{ min_temp }}&deg;C - {{ max_temp }}&deg;C</div>
                    <div class="box"><i class="fa-solid fa-wind"></i> &ensp;{{ wind_speed }} m/s</div>
                </div>
            </div>

            <hr> 
            <br>

            <div class="five-forecast">
                <div class="box">
                    <h3>{{ five_day_dates_list[0] }}</h3>
                    <div class="weather-icon"><i class="fa-solid {{ five_day_weather_icons[0] }}"></i></div>
                    <p> {{ five_day_temp_list[0] }}&deg; C </p>
                </div>
                <div class="box">
                    <h3>{{ five_day_dates_list[1] }}</h3>
                    <div class="weather-icon"><i class="fa-solid {{ five_day_weather_icons[1] }}"></i></div>
                    <p> {{ five_day_temp_list[1] }}&deg; C </p>
                </div>
                <div class="box">
                    <h3>{{ five_day_dates_list[2] }}</h3>
                    <div class="weather-icon"><i class="fa-solid {{ five_day_weather_icons[2] }}"></i></div>
                    <p> {{ five_day_temp_list[0] }}&deg; C </p>
                </div>
                <div class="box">
                    <h3>{{ five_day_dates_list[3] }}</h3>
                    <div class="weather-icon"><i class="fa-solid {{ five_day_weather_icons[3] }}"></i></div>
                    <p> {{ five_day_temp_list[3] }}&deg; C </p>
                </div>
                <div class="box">
                    <h3>{{ five_day_dates_list[4] }}</h3>
                    <div class="weather-icon"><i class="fa-solid {{ five_day_weather_icons[4] }}"></i></div>
                    <p> {{ five_day_temp_list[4] }}&deg; C </p>
                </div>
            </div>
        </div>
    </div>
</body>


</html>